<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= if assigns[:page_title] do %>
    <title>w · <%= assigns[:page_title] %></title>
    <% else %>
    <title>w</title>
    <% end %>
    <%= if assigns[:description] do %>
    <meta name="description" content={assigns[:description]}/>
    <% end %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
  </head>

  <body>
    <div class="sidebar">
      <span class="title"><%= link("w", to: Routes.page_path(@conn, :index)) %></span>
      <nav>
        <span><%= link("Firefox", to: Routes.page_path(@conn, :page, :firefox)) %></span>
        <span><%= link("Useful Stuff", to: Routes.page_path(@conn, :page, :useful_stuff)) %></span>
        <span><%= link("JXL Art", to: Routes.page_path(@conn, :page, :jxlsplines)) %></span>
        <span><%= link("Catmull-Rom Spline generator", to: Routes.page_path(@conn, :catmull_rom)) %></span>
        <span><a href="https://github.com/wwww-wwww">GitHub</a></span>
      </nav>
    </div>
    <div class="content">
      <div class="header"><%= assigns[:page_title] %></div>
      <section class="body"><%= @inner_content %></section>
    </div>
  </body>
</html>
