<p>BSc. Computing Science, Simon Fraser University Apr. 2022</p>
<p>Software developer</p>
<p>Burnaby, BC</p>
<p>From Vancouver</p>
<br>
<p>Github: <a href="https://github.com/wwww-wwww">wwww-wwww</a></p>
<p>Email: <a href="mailto:wvvwvvvvwvvw@gmail.com">wvvwvvvvwvvw@gmail.com</a></p>
<p>Discord: ohara.mari</p>
