<h4>Who am I?</h4>
<p>BSc. Computing Science at Simon Fraser University Apr. 2022</p>
<p>I live in Burnaby, BC. I am a software developer.</p>
<br>
<p>Github: <a href="https://github.com/wwww-wwww">wwww-wwww</a></p>
<p>Email: <a href="mailto:wvvwvvvvwvvw@gmail.com">wvvwvvvvwvvw@gmail.com</a></p>
<p>Discord: ohara.mari</p>
