<p><a href="https://jpegxl.info/art/">JXL Art Gallery</a></p>

<div>
  <h4>"zou" - 740 bytes, 2021-08-27</h4>
  <img src={Routes.static_path(@conn, "/images/zou.jxl")} />
</div>
<div>
  <h4>"nocturne" - 600 bytes, 2021-11-12</h4>
  <img src={Routes.static_path(@conn, "/images/nocturne.jxl")} />
</div>
<div>
  <h4>"jennifer" - 755 bytes, 2022-03-30</h4>
  <img src={Routes.static_path(@conn, "/images/jennifer.jxl")} />
</div>
